<br>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h2>Meet You There</h2>
        <hr>
        <p id="welcomeText">
        The art of writing a letter is as old as the moon.
        <br>
         It's a wonderful way to communicate, to express and to grow.
        <br>
        <br>
        Today we have more ways of connecting than ever.
        <br>
        And more ways to create meaningful & lasting experiences.</p>
        <a href="/login" id="loginButton" class="btn btn-primary btn-med">Login</a>
        <a href="/signup" id="loginButton" class="btn btn-primary btn-med">Signup</a>
      </div>
    </div>
  </div>
</div>