

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>Meet You There</h1>
        <br>
        <div id="indexContainer">
        <p id="welcomeText">
        The art of writing a letter is as old as the moon.
        It's a wonderful way to communicate, to express and to grow.
        <br>
        <br>
        Today we have more ways of connecting than ever. And more ways to
        create meaningful & lasting experiences.
        <br>
        <br>
        Start a video stream now with a friend or a colleague, a study buddy or
        a loved one.
        <br>
        Share notes and files and pictures from New York City, or catch up and
        just take it all in.
        <br>
        <br>
        You can also make a reservation for a later time and we'll send you
        both off a reminder with a link to connect.
        </p>
        <br>

                        <a href="/login" id="loginButton" class="btn btn-primary btn-med">Login</a>
                        <a href="/signup" id="loginButton" class="btn btn-primary btn-med">Signup</a>
            <br>
            <br>

        </div>
      </div>
    </div>
  </div>
</div>








<!--   <div class="container">
    <div class="jumbotron text-left">
      <a href="/"><img class="logoImg" src="../img/logo.png"></a>
      <hr>

      <h3 class="fa fa-lightbulb-o" class="compColor"></h3><br>
      <br>
      <a class="btn btn-warning btn-med" href="/login" id="homeLogin">
        <span class="fa fa-user"></span> Login</a>
      <a class="btn btn-warning btn-med" href="/signup" id="homeSignup">
        <span class="fa fa-user"></span> Signup</a>
    </div>
  </div> -->