<div class="jumbotron">
  <div class="innerContentDiv">
    <h3 id="meetJumboTitle">
      Meet You There
    </h3>
    <div id="meetJumboContent"></div>
  </div>
</div>
<script>
window.onload = function() {
  console.log( "Node count onload : ", document.childNodes.length, "and the current time is:" + Date.now() );
}
</script>