<script type="text/javascript">
var apiKey = '<%= apiKey %>';
var sessionId = '<%= sessionId %>';
var token = '<%= token %>';
</script>

<p id="copyAndPaste">&nbsp;&nbsp;&nbsp;copy the link, send to a friend, and they'll meet you here.</p>
<form class="form" id="shareFormUrl" name="shareFormUrl">
<input id="roomLink" type="text" value='<%= getARoom %>'></form>
<br>
<div class="img-responsive" id="streamButtonRow">
<a class="btn btn-success" href="#" id="statusButton">
<i class="icon-home"></i>status: OK</a> <a class="btn btn-success" href="#" id="newPubStream">
<i class="icon-home"></i>stream</a> <a class="btn btn-success" href="#" id="checkDevice">
<i class="icon-home"></i>settings</a> <a class="btn btn-success" href="#" id="sendInvite">
<i class="icon-home"></i>invite</a> <a class="btn btn-success" href="#" id="startRecording">
<i class="icon-home"></i>record</a> <a class="btn btn-success" href="#" id="stopRecording">
<i class="icon-home"></i>stop</a> <a class="btn btn-success" href="#" id="disconnectButton">
<i class="icon-home"></i>disconnect</a></div>
<br>
<div id="pubStreamContainer"></div>
