
<div class="img-responsive">

<a class="btn btn-success"  id="status"><i class="icon-home"></i>status: OK</a>

<a class="btn btn-success" id="stream"><i class="icon-home"></i>stream</a>

<a class="btn btn-success" id="invite"><i class="icon-home"></i>invite</a>

<a class="btn btn-success" id="reserve"><i class="icon-home"></i>reserve</a>

<a class="btn btn-success"  id="disconnect"><i class="icon-home"></i>disconnect</a>
</div>

<br>
<div id="pubStream"></div>


