<script type="text/javascript">
var apiKey = '<%= apiKey %>';
var sessionId = '<%= sessionId %>';
var token = '<%= token %>';
</script>
<div class="row">
<div class="center-block"" id="navOptions">
  <a class="btn btn-success" href="" id="status"><i class="icon-home"></i>status: ok</a>
  <a class="btn btn-success" href="" id="session"><i class="icon-home"></i>session</a>
  <a class="btn btn-success" href="" id="settings"><i class="icon-home"></i>settings</a>
  <a class="btn btn-success" href="" id="invite"><i class="icon-home"></i>invite</a>
  <a class="btn btn-success" href="" id="disconnect"><i class="icon-home"></i>disconnect</a>
</div>
</div>

<h3><a href="" id="tempConnect"> Ready?</a></h3>

