
<!DOCTYPE html>
<html lang="en" class="full">
  <head>
    <% include /head/index %>
  </head>
  <body>
    <header>
    </header>
    <%= include /partials/index %>
    <%= include /scripts/index %>
  </body>
</html>