<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /head/index %>
  </head>
  <body>
  <header>
  </header>
    <%= include /partials/stream %>
    <%= include /scripts/stream %>
  </body>
</html>
