<!DOCTYPE html>
<html>
  <head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/JSXTransformer.js"></script>
    <script src="//fb.me/react-with-addons-0.11.2.js"></script>
    <title>Get a Room</title>
  </head>
  <body>

 <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
</script>

    <!-- USER GREETING -->
    <div id="welcome"></div>
    <!-- STREAM LINK STATIC -->
    <p id="copyAndPaste">copy and paste the link and get a room!</p>
    <!-- STREAM LINK PARTIAL -->
    <p id="roomLink" href=""><%= getARoom %></p>
    <br>
    <!-- SUBSCRIBER COUNT -->
    <input type="text" id="connectionCountField" value="0"></input>
    <br>
    <br>
    <!-- NAV BAR -->
    <div id="navBar"></div>
    <!-- STREAM LINK -->
    <div id="subscribers"><div id="streamId"></div></div>
    <!-- STREAM -->
    <div id="stream"></div>

  <script type="text/javascript" src="/js/sessions/sessionController.js"></script>
  <script type="text/javascript" src="/js/sessions/sessionTracker.js"></script>
  <script type="text/javascript" src="/js/sessions/sessionPanel.js"></script>
  <script type="text/jsx" src="/js/ui/navBar.jsx"></script>
   <script type="text/jsx" src="/js/ui/dynamicText.jsx"></script>
  </body>
</html>