body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
    background-color: transparent!important;
    font-family: 'Raleway, sans-serif';
}
.full {
    background: url(../img/background-writer.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.jumbotron {
    background-color: transparent!important
}
.jumbotron h2{
    color: #fff !important;

}
.jumbotron p {
    color: #fff !important;
    font-size: 1.2em !important;
}
.btn {
    background-color: #0cd6ad !important;
    color: #000 !important;
    border-color: #fff !important;
}
#loginForm {
    max-width: 300px;
}
#signupForm {
    max-width: 300px;
}
#loginOrSignUp {
    color: #fff !important;
    font-size: 0.8em !important;
}
a#thenSignup {
    color: #0cd6ad !important;
    font-size: 1.0em !important;
    padding-left: 4px;
}

a {
    text-decoration: none !important;
}
#navOptions {
        padding-bottom: 8px;
    width: 475px;
    padding-left: 42px !important;
}
#status {
    visibility: hidden;
    background-color: #EEE !important;
    color: #27ae60 !important;
    border-color: #27ae60;
}
#stream {
    background-color: #EEE !important;
    color: #41C7C2 !important;
    border-color: #41C7C2;
}
#invite {
    background-color: #EEE !important;
    color: #41C7C2 !important;
    border-color: #41C7C2;
}
#reserve {
    background-color: #EEE !important;
    color: #41C7C2 !important;
    border-color: #41C7C2;
}
#session {
    background-color: #EEE !important;
    color: #41C7C2 !important;
    border-color: #41C7C2;
}
#settings {
    background-color: #EEE !important;
    color: #41C7C2 !important;
    border-color: #41C7C2;
}
#disconnect {
    visibility: hidden;
    background-color: #EEE !important;
    color: #c0392b !important;
    border-color: #c0392b;
}
#publisher {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #37ada7;
}
h3 {
    font-size: 1.5em !important;
    color: #41C7C2 !important;
}