<!DOCTYPE html>
<html lang="en" class="full">
  <head>
    <% include ../head/index %>
  </head>
  <body>
    <header>
    </header>
    <%= include ../partials/index %>
    <%= include ../partials/signup %>
    <%= include ../scripts/index %>
  </body>
</html>