<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <%= include ../partials/index %>
    <%= include ../scripts/index %>
  </body>
</html>